## Group By

With Group By, we can create several separated dataframes, without the need to create each one of the dataframes manually (comparing, assinign, etc).

In [ ]:
import pandas as pd

In [ ]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank") # 1000 most profitable companies
sectors = fortune.groupby("Sector")
fortune.head(3)

In [ ]:
fortune.groupby("Sector")

In [ ]:
type(fortune)

In [ ]:
type(sectors)

In [ ]:
sectors

## The groupby() Method

In [ ]:
len(fortune) # Number of rows
len(sectors) # Number of groups

In [ ]:
fortune.Sector.nunique()

In [ ]:
sectors.size()

Size of group is the same as value counts. Except value counts will order by quantity.

In [ ]:
fortune["Sector"].value_counts()

In [ ]:
fortune.head(3)

Gets the first item of each group to show.

In [ ]:
sectors.first()

In [ ]:
fortune.tail(3)

In [ ]:
sectors.last()

In [ ]:
sectors.groups

In [ ]:
fortune.loc[24]

## Retrieve a Group with the .get_group() Method

In [ ]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank") # 1000 most profitable companies
sectors = fortune.groupby("Sector")
fortune.head(3)

In [ ]:
sectors.get_group("Energy")
sectors.get_group("Technology")
sectors.get_group("Apparel")

## Methods on the Groupby Object and Dataframe Columns

In [ ]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank") # 1000 most profitable companies
sectors = fortune.groupby("Sector")
fortune.head(3)

In [ ]:
sectors.max()

In [ ]:
sectors.min()

Only apply to numeric columns

In [ ]:
sectors.sum()

In [ ]:
sectors["Revenue"].sum()

In [ ]:
sectors.get_group("Apparel")["Revenue"].sum() # Same as this
# Apparel	95968	8236	346397
sectors.get_group("Apparel")["Revenue"].mean()

In [ ]:
sectors.mean()

In [ ]:
sectors["Employees"].sum()

In [ ]:
sectors["Profits"].max()
sectors["Profits"].min()
sectors["Employees"].mean()

sectors[["Profits", "Revenue"]].sum()

## Grouping by Multiple Columns

In [ ]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank") # 1000 most profitable companies
sectors = fortune.groupby(["Sector", "Industry"])
fortune.head(3)

MultIndex series

In [ ]:
sectors.size()

In [ ]:
sectors.sum()

In [ ]:
sectors["Revenue"].sum()
sectors["Employees"].mean()

The .agg() Method

Perform more than one operation over a dataframe.

In [ ]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank") # 1000 most profitable companies
sectors = fortune.groupby("Sector")
fortune.head(3)

In [ ]:
sectors["Employees"].mean()

In [ ]:
sectors.agg({
            "Revenue" : "sum",
            "Profits" : "sum",
            "Employees" : "mean"
            })

Using more than one operations over the numeric columns

In [ ]:
sectors.agg(["size", "sum", "mean"])

In [ ]:
sectors.agg({
            "Revenue" : ["sum", "mean"],
            "Profits" : "sum",
            "Employees" : "mean"
            })

## Iterating Through Groups

In [65]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank") # 1000 most profitable companies
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

Creating an empty array to append data to it

In [68]:
df = pd.DataFrame(columns = fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [70]:
for sector,data in sectors:
    highest_revenue_company_in_group = data.nlargest(1, "Revenue")
    df = df.append(highest_revenue_company_in_group)

In [71]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [73]:
cities = fortune.groupby("Location")
df = pd.DataFrame(columns = fortune.columns)
cities