# MultIndex

In [ ]:
import pandas as pd

In [ ]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"])
bigmac.head(3)

In [ ]:
bigmac.dtypes

In [ ]:
bigmac.info()

## Create a MultIndex with the sex_index Method

Tip: Take the column with the least number of unique values and put in the most outerlevel

In [11]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"])
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

In [14]:
bigmac.nunique()

Date                    12
Country                 58
Price in US Dollars    330
dtype: int64

In [13]:
bigmac.set_index(["Date", "Country"])

bigmac.set_index(["Country", "Date"])

bigmac.set_index(["Date", "Country"])

                          Price in US Dollars
Country       Date
Argentina     2016-01-01                 2.39
Australia     2016-01-01                 3.74
Brazil        2016-01-01                 3.35
Britain       2016-01-01                 4.22
Canada        2016-01-01                 4.14
...                                       ...
Turkey        2010-01-01                 3.83
UAE           2010-01-01                 2.99
Ukraine       2010-01-01                 1.83
United States 2010-01-01                 3.58
Uruguay       2010-01-01                 3.32

[652 rows x 1 columns]

## The sort_index Method on a MultIndex DataFrame

In [53]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col= ["Date", "Country"])
bigmac.head(3)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35

In [58]:
bigmac.sort_index()
bigmac.sort_index(ascending=True)
bigmac.sort_index(ascending=False)

                          Price in US Dollars
Date       Country
2016-01-01 Vietnam                       2.67
           Venezuela                     0.66
           Uruguay                       3.74
           United States                 4.93
           Ukraine                       1.54
...                                       ...
2010-01-01 Canada                        3.97
           Britain                       3.67
           Brazil                        4.76
           Australia                     3.98
           Argentina                     1.84

[652 rows x 1 columns]

Sort according to level:

In [61]:
bigmac.sort_index(ascending=[True, False])
bigmac.sort_index(ascending=[False, True],inplace=True)

In [66]:
bigmac.sort_index(level = "Date")

bigmac.sort_index(level = "Country")

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
2010-07-01 Argentina                 3.56
2011-07-01 Argentina                 4.84
2012-01-01 Argentina                 4.64
2012-07-01 Argentina                 4.16
...                                   ...
2014-01-01 Vietnam                   2.84
2014-07-01 Vietnam                   2.83
2015-01-01 Vietnam                   2.81
2015-07-01 Vietnam                   2.75
2016-01-01 Vietnam                   2.67

[652 rows x 1 columns]