# Series

In [1]:
import pandas as pd

## Create a Series Object from a Python List

In [ ]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]

pd.Series(ice_cream)

In [ ]:
lottery = [4, 8, 15, 16, 23, 42, 64, 89, 121]

pd.Series(lottery)

In [ ]:
registrations = [True, False, False, False, True]

pd.Series(registrations)

In [ ]:
webster = {
    "Aardvark": "An animal",
    "Banana": "A delicious fruit",
    "Cyan": "A color",
}

pd.Series(webster)

### Exercise: Create a Series Object

In [ ]:
###############################################################
# DO NOT DELETE THIS CODE. IT IS NEEDED FOR THE TESTS TO RUN. #
from unittest.mock import MagicMock                           #
import pandas as pd                                           #
#pd.Series = MagicMock()                                       #
###############################################################

# Assume the pandas library has already been imported and assigned
# the alias "pd".

# Create a list with 4 countries - United States, France, Germany, Italy
# Create a new Series by passing in the list of countries
# Assign the Series to a "countries" variable
temp_list = ["United States", "France", "Germany", "Italy"]
countries = pd.Series(temp_list)
countries = pd.Series(["United States", "France", "Germany", "Italy"])


# Create a list with 3 colors - red, green, blue
# Create a new Series by passing in the list of colors
# Assign the Series to a "colors" variable
temp_list = ["red", "green", "blue"]
colors = temp_list = pd.Series(temp_list)

# Given the "recipe" dictionary below,
# create a new Series by passing in the dictionary as the data source
# Assign the resulting Series to a "series_dict" variable
recipe = {
  "Flour": True,
  "Sugar": True,
  "Salt": False
}

series_dict = pd.Series(recipe)

In [ ]:
countries

In [ ]:
colors

In [ ]:
series_dict

## Intro to Atributes
Do not require parenthesis at the end

In [6]:
about_me = ['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble']
s = pd.Series(about_me)

In [9]:
s.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [11]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
s.dtype

dtype('O')

## Intro to Methods
Since Methods are functions, they require parenthesis at the end

In [24]:
prices = [2.99, 4.45, 1.57]
s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.57
dtype: float64

In [32]:
s.sum()

9.01

In [33]:
s.product()

20.889635000000006

In [34]:
s.mean()

3.0033333333333334

## Parameters and Arguments
Thinking like a game: \
-> Difficulty - Easy, Medium, Hard \
-> Volume - 1 to 10 \
-> Subtitles - True/False

In [42]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

# The below instructions generate the same output, but the second one has defined its parameters explicit
pd.Series(fruits, weekdays)
pd.Series(data = fruits, index = weekdays)
pd.Series(fruits, index = weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [43]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]

pd.Series(data = fruits, index = weekdays)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

## Import <mark style="background:lightgrey">Series</mark> with the <mark style="background:lightgrey">read_csv</mark> Method

In [55]:
pokemon = pd.read_csv("pokemon.csv", usecols= ["Pokemon"], squeeze = True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

Series will only have one column, while dataframe will be used for one or more column

In [59]:
google_stock_price = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"], squeeze = True)
google_stock_price

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

## Exercise

In [61]:
# Assume the pandas library has already been imported and assigned the alias "pd".

# Let's say we have a foods.csv CSV file with 3 columns: Item Number, Menu Item, Price
# The raw CSV data looks like this:
#
# Item Number,Menu Item,Price
# 1,Big Mac,4.99
# 2,McNuggets,7.99
# 3,Quarter Pounder,3.99
#
# Import the CSV file into a Pandas Series object
# The Series should have the standard Pandas numeric index
# The Series values should be the string values from the "Menu Item" column
# Assign the Series object to a "foods" variable
foods = pd.read_csv("foods.csv", usecols = ["Menu Item"], squeeze = True)
foods

    First Name  Gender          City Frequency       Item  Spend
0        Wanda  Female      Stamford    Weekly     Burger  15.66
1         Eric    Male      Stamford     Daily    Chalupa  10.56
2      Charles    Male      New York     Never      Sushi  42.14
3         Anna  Female  Philadelphia      Once  Ice Cream  11.01
4      Deborah  Female  Philadelphia     Daily    Chalupa  23.49
..         ...     ...           ...       ...        ...    ...
995      Donna  Female      New York   Monthly      Sushi  83.53
996     Albert    Male  Philadelphia     Daily      Sushi  72.88
997       Jean  Female      Stamford    Weekly      Donut   5.85
998    Jessica  Female      New York     Daily    Chalupa  43.19
999      Brian    Male      New York     Daily    Chalupa  28.36

[1000 rows x 6 columns]